
.container
  %h1 Blocipedia Social Wiki

.container
  .row
    .jumbotron.col-md-5
      %h2 Public wikis
      %p Find  Share  to see.....
      %a.btn.btn-primary.btn-lg{:href => "/wikis", :role => "button"} Standard
    .col-md-1
    .jumbotron.col-md-5
      %h2 Private wikis
      %p Find  Share to see.....
      %a.btn.btn-success.btn-lg{:href => "/charges/new", :role => "button"} Premium
