.container
  %h1 Blocipedia Social Wiki
.container
  .row
    .jumbotron.col-xs-6
      %h2 Public wikis
      %p Find & Share the best places for food, stuff, things to see.....
      %a.btn.btn-primary.btn-lg{:href => "/wikis", :role => "button"} Standard
    / two side by side one private one public

  .jumbotron.col-xs-6
    %h2 Private wikis
    %p Find & Share the best places for food, stuff, things to see.....
    %a.btn.btn-success.btn-lg{:href => "/charges/new", :role => "button"} Premium 

