%h1 BlociPedia Social Wiki
.jumbotron
  .row
    .col-xs-8.col-xs-offset-4
    %h2 public and private Markdown-based wikis.
    %p Find & Share the best places for food, stuff, things to see.....
    %a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Learn more
/ two side by side one private one public
.jumbotron
  .row
    .col-xs-6.col-xs-offset-4
    %h2 public and private Markdown-based wikis.
    %p Find & Share the best places for food, stuff, things to see.....
    %a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Free 

