%nav.navbar.navbar-default
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#main-nav", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand Blocipedia
    / Collect the nav links, forms, and other content for toggling
    #main-nav.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{:href => "/welcome/about"}
            About
            %span.sr-only (current)
            
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %p.navbar-text.navbar-right
            Hello #{current_user.email}!
            \#{link_to "Sign out", destroy_user_path, method: :delete}
        - else
          = link_to "Sign In", login_path
          or
          \#{link_to "Sign Up", new_user_path}